.nav-height {
    height: 100px;
}
.square-logo{
    width: 5%;
    padding: 4px;
    margin-left: 2%;
       
}
.navbar{
    padding-left: 15px;
    padding-right: 15px; 
    display: flex;
    justify-content: space-between;
}

#btn-user{
    /* border-radius: 5px 5px 5px 5px; */
    padding: 5px;
    border: 0.7px solid #1d8384;
    background: white;
    color: #1d8384;
    width: 120px;
    cursor: pointer;
    
}

#btn-user:hover {
    background: #bed8d8;
    transition: all 0.30s;
    border: #196d6e;
}

.dropdown-list{
    position: absolute;
    border: 0.7px solid #1d8384;
    background-color: white;
    height: 120px;
    width: 120px;
    display: flex;
    align-items: center;
    padding-top: 20px;
   justify-content: left;
    box-sizing: border-box
}

.list-item {
    text-decoration:none;
    color: #196d6e;
}

.list-item:hover {
 
    cursor: pointer;
}

.menu{
    list-style: none;
    padding:0px;
    margin-left: 35px;
}

.btn-drop {
    margin-right: 2%;
}

.partner-link{
    
    min-width: 200px;

}
.partner-link-a {
    color: #196d6e;
}

.partner-link-a:hover {
    color: black;
    text-decoration: none;
}

.list-item-btn{
    
    border: none;
    background: none;
    color: #196d6e;
    margin-left: -10px;
}

.list-item-btn:hover{
    
    border-bottom: 1px solid #196d6e
}

